@{
    ViewData["Title"] = "All messages";
}

@model List<Message>

    <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
        text-align: center;
    }

    .id {
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 30px;
    }
</style>
<h1>Все сообщения</h1>
<table>
    <thead>
        <tr>
            <th>Номер записи</th>
            <th>Номер сообщения</th>
            <th>Текст сообщения</th>
            <th>Имя пользователя</th>
            <th>Дата</th>
            <th>Сообщение актуально</th>
            <th>Номер оригинального сообщения</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            <tr>
                <td class="id">@entity.Id</td>
                <td class="id">@entity.MessageId</td>
                <td>@entity.Text</td>
                <td>@entity.UserName</td>
                <td>@entity.Date</td>
                @if (entity.MessageIsRelevant)
                {
                    <td style="text-align:center; color:green">Да</td>
                }
                else
                {
                    <td style="text-align:center; color:red">Нет</td>
                }
                <td class="id">@entity.OriginalId</td>
            </tr>
        }
    </tbody>
</table>