@{
    ViewData["Title"] = "Relevant messages";
}

@model List<Message>

<h1>Актуальные сообщения</h1>
<table>
    <thead>
        <tr>
            <th>Номер записи</th>
            <th>Текст сообщения</th>
            <th>Имя пользователя</th>
            <th>Дата</th>
            <th>Ответить на сообщение</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            <tr>
                <td class="id">@entity.Id</td>
                <td>@entity.Text</td>
                <td>@entity.UserName</td>
                <td>@entity.Date</td>
                <td>
                    <form method="post" action="@Url.Action("MyButton_Click", "AllMessagesFromDatabase")">
                        <input name="inputValue" placeholder="Введите текст">
                        <button type="submit" name="id" value="@entity.MessageId">Отправить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
